* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

hr {
    background-color: #eee;
    height: 1px;
    border: none;
}

.container {
    width: 95%;
    margin: auto;
}

.project h2,
.about h2,
.contact h2 {
    margin-bottom: 20px;
    font-weight: 500;
}

header {
    box-shadow: 0px 0px 10px 0px #ccc;
    width: 100%;
    background-color: #fff;
    height: 60px;
    position: fixed;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header h2 {
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    letter-spacing: 5px;
    font-size: 18px;
}

header h2:hover {
    background-color: #ccc;
}

header a {
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 16px;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li a {
    padding: 10px;
    transition: 0.3s;
}

header ul li a:hover {
    background-color: #ccc;
}

@media (max-width: 767px) {
    header nav {
        display: none;
    }
}

.main {
    height: 75vh;
    background-image: url(imges/architect.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .text {
    color: #fff;
    font-size: 35px;
}

.main .text span {
    display: inline-block;
    background-color: #000;
    padding: 5px 20px;
    opacity: 0.7;
    letter-spacing: 5px;
}

.project {
    padding: 50px 0;
}

.project hr {
    margin-bottom: 50px;
}

.project .content-text {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 15px;
}

.project .content-text div {
    position: relative;
}

.project .content-text div p {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.project .content-text img {
    width: 100%;
}

.about {
    padding: 50px 0;
}

.about p {
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.6;
}

.about .content-text {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

.about .content-text img {
    width: 100%;
    filter: grayscale(80%);
}

.about .content-text h3 {
    margin: 10px 0;
    font-size: 25px;
    font-weight: 400;
}

.about .content-text span {
    color: #858585;
}

.about .content-text p {
    font-size: 16px;
    line-height: normal;
    margin: 10px 0;
}

.about .content-text button {
    width: 100%;
    border: none;
    padding: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.about .content-text button:hover {
    background-color: #ccc;
}

.contact {
    padding: 50px 0;
}

.contact p {
    margin: 20px 0;
    font-size: 17px;
}

.contact form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    outline-color: #0000ff;
}

.contact form input[type="submit"] {
    background-color: #000;
    color: #fff;
    width: 150px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.contact form input[type="submit"]:hover {
    background-color: #ccc;
    color: #000;
}

.imge img {
    width: 100%;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #00f;
}